.back{
	background:url(inter_container_bg.png) top left no-repeat transparent;
	}
.ornek_border{
	border:1px solid #afc87d;
	}
.ornekbaslik_bg {
	background:url(ornek.png) no-repeat 50% 50%;
	}
	
a.harf_sol_1:hover, .harf_sol_1.harfselected {
	background:url(harf_sol_1a.png) left top;
	color:#000000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
a.harf_sag_1:hover, .harf_sag_1.harfselected {
	background:url(harf_sag_1a.png) left top;
	color:#000000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
a.harf_sol_2:hover, .harf_sol_2.harfselected {
	background:url(harf_sol_2a.png) left top;
	color:#000000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
a.harf_sag_2:hover, .harf_sag_2.harfselected {
	background:url(harf_sag_2a.png) left top;
	color:#000000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
a.harf_sol_3:hover, .harf_sol_3.harfselected {
	background:url(harf_sol_3a.png) left top;
	color:#000000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
a.harf_sag_3:hover, .harf_sag_3.harfselected {
	background:url(harf_sag_3a.png) left top;
	color:#000000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
a.harf_sol_4:hover, .harf_sol_4.harfselected {
	background:url(harf_sol_4a.png) left top;
	color:#000000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}
a.harf_sag_4:hover, .harf_sag_4.harfselected {
	background:url(harf_sag_4a.png) left top;
	color:#000000;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
}

/* selected cursor */
.harf_sol_1.harfselected, .harf_sag_1.harfselected, 
.harf_sol_2.harfselected, .harf_sag_2.harfselected, 
.harf_sol_3.harfselected, .harf_sag_3.harfselected, 
.harf_sol_4.harfselected, .harf_sag_4.harfselected, {
	cursor:default !important;
}



.sozcukselected {
	color:#93ca2a !important;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5) !important;
}






