html, body {
    margin:0 auto;
    padding:0;

    /* font-family: 'Droid Sans', sans-serif;*/
    font-family:'Arial', Helvetica, sans-serif;
    font-size:12px;
    height:100%;
    text-align: center;
    background:url(ui_img/matsoz_v1_mainbg2.jpg) 50% 50% no-repeat fixed #232d36;
}
img {
    clear:both;
    display:block;
    padding:0px;
    margin:0px;
    border:0px;
}
.temizle{
    clear:both;
}
#container {
    position:absolute;
    top: 50%;
    left: 50%;
    width:1240px;
    height:646px;
    margin-left: -620px; /*set to a negative number 1/2 of your width*/
    margin-top: -323px; /*set to a negative number 1/2 of your height*/
    text-align: left;

}

@media screen and (max-height: 645px) {
    #container {
        position:relative !important;
        top:0px !important;
        left:0px !important;
        margin: auto !important;
        margin-left: auto !important; /*set to a negative number 1/2 of your width*/
        margin-top: auto !important; /*set to a negative number 1/2 of your height*/

    }

}
@media screen and (max-width: 1280px){
    #container {
        position:relative !important;
        top:0px !important;
        left:0px !important;
        margin: auto !important;
        margin-left: auto !important; /*set to a negative number 1/2 of your width*/
        margin-top: auto !important; /*set to a negative number 1/2 of your height*/
    }
}


div.matsoz_logo {
    position:absolute;
    left:40px;
    top:10px;

    width:269px;
    height:77px;
}

/* NAVIGATION
---------------------------------------*/
div.navlinktasiyici{
    position:absolute;
    top:118px;
    left:12px;

    width:120px;
    height:auto;

    /*	background-color:#FFF;*/
}

div.btn_prev {
    position:absolute;
    bottom:60px;
    cursor:pointer;
    left:12px;
}
div.btn_next {
    position:absolute;
    bottom:60px;
    cursor:pointer;
    left:72px;
}
div.btn_home {
    position:absolute;
    bottom:12px;
    cursor:pointer;
    left:12px;
}
div.btn_info {
    position:absolute;
    bottom:12px;
    cursor:pointer;
    left:52px;
}
div.btn_print {
    position:absolute;
    bottom:12px;
    cursor:pointer;
    left:92px;
}



.navposition {
    position:relative;
    height:auto;
    float:left;
}

.navlink {
    display:block;

    font-size:16px;
    font-weight:bold;
    color:#FFF;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    text-decoration:none;
    text-align:center;

}
/* --- */
a.harf_sol_1 {
    float:left;
    margin-bottom: -10px;
    margin-right: -10px;
    padding-top:10px;

    width:70px;
    height:35px; /*46*/
    background:url(ui_img/harf_sol_1.png) no-repeat left top;
}

a.harf_sag_1 {
    float:right;
    margin-bottom: -10px;
    padding-top:15px;

    width:60px;
    height:40px;/*56*/
    background:url(ui_img/harf_sag_1.png) no-repeat left top;
}

/* --- */
a.harf_sol_2 {
    float:left;
    margin-right:-10px;
    margin-bottom:-10px;
    padding-top:20px;

    width:60px;
    height:35px;/*56*/
    background:url(ui_img/harf_sol_2.png) no-repeat left top;
}
a.harf_sag_2 {
    left:0;
    float:right;
    margin-bottom:-10px;
    padding-top:17px;

    width:70px;
    height:38px;/*56*/
    background:url(ui_img/harf_sag_2.png) no-repeat left top;
}

/* --- */
a.harf_sol_3 {
    float:left;
    margin-right:-10px;
    margin-bottom:-10px;
    padding-top:20px;

    width:70px;
    height:35px;/*56*/
    background:url(ui_img/harf_sol_3.png) no-repeat left top;
}
a.harf_sag_3 {
    float:right;
    top:10px;
    padding-top:17px;

    width:60px;
    height:38px;/*56*/
    background:url(ui_img/harf_sag_3.png) no-repeat left top;
}

/* --- */
a.harf_sol_4 {
    float:left;
    margin-right:-10px;
    padding-top:20px;

    width:60px;
    height:35px;/*56*/
    background:url(ui_img/harf_sol_4.png) no-repeat left top;
}

a.harf_sag_4 {
    float:right;
    top:-1px;
    padding-top:17px;

    width:70px;
    height:29px;
    background:url(ui_img/harf_sag_4.png) no-repeat left top;
}

/*  PASIF BUTONLAR
----------------------------------------*/
.harf_sol_1.harfpasif, .harf_sag_1.harfpasif,
.harf_sol_2.harfpasif, .harf_sag_2.harfpasif,
.harf_sol_3.harfpasif, .harf_sag_3.harfpasif,
.harf_sol_4.harfpasif, .harf_sag_4.harfpasif {
    color:#2e2e2e !important;
    text-shadow:none !important;
    cursor:default !important;
}

.harf_sol_1.harfpasif {
    background:url(ui_img/harf_sol_1_pasif.png) left top !important;
}
.harf_sag_1.harfpasif {
    background:url(ui_img/harf_sag_1_pasif.png) left top !important;
}
.harf_sol_2.harfpasif {
    background:url(ui_img/harf_sol_2_pasif.png) left top !important;
}
.harf_sag_2.harfpasif {
    background:url(ui_img/harf_sag_2_pasif.png) left top !important;
}
.harf_sol_3.harfpasif {
    background:url(ui_img/harf_sol_3_pasif.png) left top !important;
}
.harf_sag_3.harfpasif {
    background:url(ui_img/harf_sag_3_pasif.png) left top !important;
}
.harf_sol_4.harfpasif {
    background:url(ui_img/harf_sol_4_pasif.png) left top !important;
}
.harf_sag_4.harfpasif {
    background:url(ui_img/harf_sag_4_pasif.png) left top !important;
}

/*-----  a.navlink:hover class > THEME icinde  --------*/



/*    SOZCUKLER  
---------------------------------------*/
div.sozcuktasiyici{
    position:absolute;
    top:118px;
    left:144px;

    width:274px;
    height:516px;

    overflow:auto;

    background:url(ui_img/dikey_ayrac.png) repeat-y left top;
}

a.sozcuklink {
    display:block;
    padding:11px 15px 12px 12px;
    /*	margin-bottom:1px;*/

    font-size:16px;
    /*	font-weight:bold;*/
    color:#FFFFFF;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    text-decoration:none;
    text-align:left;

    /*	background-color:#36567f;*/
}

a.sozcuklink:hover, .sozcukselected {
    color:#FFFFFF;
    background:url(../blue/ui_img/sozcuk_selected.png) no-repeat right center;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
}

/*-----  .SELECTED class > BES_THEME icinde  --------*/


/*  PASIF BUTONLAR
----------------------------------------*/
.harf_sol_1.harfpasif, .harf_sag_1.harfpasif,
.harf_sol_2.harfpasif, .harf_sag_2.harfpasif,
.harf_sol_3.harfpasif, .harf_sag_3.harfpasif,
.harf_sol_4.harfpasif, .harf_sag_4.harfpasif {
    color:#2e2e2e !important;
    text-shadow:none !important;
    cursor:default !important;
}

.harf_sol_1.harfpasif {
    background:url(ui_img/harf_sol_1_pasif.png) left top !important;
}
.harf_sag_1.harfpasif {
    background:url(ui_img/harf_sag_1_pasif.png) left top !important;
}
.harf_sol_2.harfpasif {
    background:url(ui_img/harf_sol_2_pasif.png) left top !important;
}
.harf_sag_2.harfpasif {
    background:url(ui_img/harf_sag_2_pasif.png) left top !important;
}
.harf_sol_3.harfpasif {
    background:url(ui_img/harf_sol_3_pasif.png) left top !important;
}
.harf_sag_3.harfpasif {
    background:url(ui_img/harf_sag_3_pasif.png) left top !important;
}
.harf_sol_4.harfpasif {
    background:url(ui_img/harf_sol_4_pasif.png) left top !important;
}
.harf_sag_4.harfpasif {
    background:url(ui_img/harf_sag_4_pasif.png) left top !important;
}



/* INTERACTION CONTAINER
---------------------------------------*/
/*
#inter_container {
	width:857px;
	height:726px;
	left:400px;
	top:20px;
	position:relative;
	
	display:table;
	
	border:1px #FFF solid;
	background-color:#FFF;

	border-radius:9px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;

	-moz-box-shadow:	3px 3px 8px rgba(0,0,0,0.6);
	-webkit-box-shadow: 3px 3px 8px rgba(0,0,0,0.6);
	box-shadow:			3px 3px 8px rgba(0,0,0,0.6);
}
*/
div.tanim {
    position:absolute;
    right:12px;
    width: 759px;

    font-size:14px;
    color:#333;
    line-height:16px;
    /*	background-color:#FFF;*/
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 8px rgba(0,0,0,0.4);
    background-color: #fff;
    padding: 15px;
    padding-top: 20px;
    height: 200px;
    top: -7px;
}
div.tanim strong{
    margin-right:8px;
    font-size:16px;
}

div.tanim em{
    display:block;
    padding:5px 10px 0px 10px;
}

div.simgebg {
    float:right;
    width:138px;
    height:138px;
    position:relative;
    z-index:15;
    bottom:25px;
    right:-28px;
    background:url(ui_img/simge_bg.png) no-repeat center transparent;
}
div.simge {
    width:98px;
    height:104px;

    position:absolute;
}

div.ornek {
    font-size:14px;
    width:757px;
    height:170px;
    right:12px;
    bottom:326px;

    float:left;
    position:absolute;

    background-color:#FFF;
    padding:16px;

}
div.ornekbaslik{
    width: 777px;
    height: 23px;
    position: absolute;
    left: 50%;
    top: -11px;
    margin-left: -389px;

}
div.mavikontrol {
    font-size:14px;
    color:#000;
    line-height:18px;

    right:616px;
    bottom:12px;
    position:absolute;

    width:161px;
    height:278px;

    padding:12px;

    background-color:#bfe8ef;
    overflow:auto;
}

div.etkilesimalan {
    font-size:14px;
    width:592px;
    height:302px;

    right:12px;
    bottom:12px;
    position:absolute;

    background-color:#FFF;
    overflow:hidden;
    z-index: 0;
}

div.sablon {
    border-radius:6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;

    -moz-box-shadow:	3px 5px 6px rgba(0,0,0,0.4);
    -webkit-box-shadow: 3px 5px 6px rgba(0,0,0,0.4);
    box-shadow:			3px 5px 6px rgba(0,0,0,0.4);
}