html, body {
	margin:0 auto;
	padding:0;
	background-color:#333;
	
/*	font-family: 'Droid Sans', sans-serif;*/
	font-family:'Arial', Helvetica, sans-serif;
	font-size:13px;
	text-align:center;
	
}

img {
	clear:both;
	display:block;
	padding:0px;
	margin:0px;
	border:0px;
}

.temizle{
	clear:both;
}

#container {
	position:relative;
/*	left: 50%;*/
	/*margin-left: -640px;*/
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	top: 0;
	width:1280px;
	height:768px;

	background:url(ui_img/containerbg_left.jpg) no-repeat 50% 50% #2d3a46;
	
	-moz-box-shadow:	inset 0 0 15px rgba(0,0,0,0.7);
	-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.7);
	box-shadow:			inset 0 0 15px rgba(0,0,0,0.7);
	
	overflow:hidden;
}

/* NAVIGATION
---------------------------------------*/
#navigation {
	width:400px;
	height:768px;
	left:0;
	top:0;
	position:absolute;
	
/*	background:url(ui_img/blue_leather.png) repeat-y left top;*/
}

div.navlinktasiyici{
	width:120px;
	height:630px;
	top:116px;
	left:20px;
	float:left;
	position:relative;
	display:table;

/*	background-color:#FFF;*/
}

.navposition {
	position:relative;
	height:auto;
	float:left;
}

.navlink {
	display:block;

	font-size:16px;
	font-weight:bold;
	color:#FFF;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	text-decoration:none;
	text-align:center;

}
/* --- */
a.harf_sol_1 {
	float:left;
	margin-bottom: -10px;
	margin-right: -10px;
	padding-top:10px;
	
	width:70px;
	height:35px; /*46*/
	background:url(ui_img/harf_sol_1.png) no-repeat left top;
}

a.harf_sag_1 {
	float:right;
	margin-bottom: -10px;
	padding-top:15px;
	
	width:60px;
	height:40px;/*56*/
	background:url(ui_img/harf_sag_1.png) no-repeat left top;
}

/* --- */
a.harf_sol_2 {
	float:left;
	margin-right:-10px;
	margin-bottom:-20px;
	padding-top:20px;

	width:60px;
	height:35px;/*56*/
	background:url(ui_img/harf_sol_2.png) no-repeat left top;
}
a.harf_sag_2 {
	left:0;
	float:right;
	margin-bottom:-20px;
	padding-top:17px;
	
	width:70px;
	height:38px;/*56*/
	background:url(ui_img/harf_sag_2.png) no-repeat left top;
}

/* --- */
a.harf_sol_3 {
	float:left;
	margin-right:-10px;
	margin-bottom:-10px;
	padding-top:20px;

	width:70px;
	height:35px;/*56*/
	background:url(ui_img/harf_sol_3.png) no-repeat left top;
}
a.harf_sag_3 {
	float:right;
	top:10px;
	padding-top:17px;
	
	width:60px;
	height:38px;/*56*/
	background:url(ui_img/harf_sag_3.png) no-repeat left top;
}

/* --- */
a.harf_sol_4 {
	float:left;
	margin-right:-10px;
	padding-top:20px;

	width:60px;
	height:35px;/*56*/
	background:url(ui_img/harf_sol_4.png) no-repeat left top;
}

a.harf_sag_4 {
	float:right;
	top:-1px;
	padding-top:17px;
	
	width:70px;
	height:29px;
	background:url(ui_img/harf_sag_4.png) no-repeat left top;
}
/*-----  a.navlink:hover class > THEME icinde  --------*/

/*    SOZCUKLER  
---------------------------------------*/
div.sozcuktasiyici{
	width:220px;
	height:630px;

	top:116px;
	left:160px;
	position:absolute;
	overflow:auto;
	display:table;
	background:url(ui_img/dikey_ayrac.png) repeat-y left top;
	}

a.sozcuklink {
	display:block;
	padding:13px 18px 13px 10px;
/*	margin-bottom:1px;*/
	
	font-size:17px;
/*	font-weight:bold;*/
	color:#8f8f8f;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	text-decoration:none;
	text-align:left;
	
/*	background-color:#36567f;*/
}

a.sozcuklink:hover, .sozcukselected { 
	color:#FFFFFF;
	background:url(../blue/ui_img/sozcuk_selected.png) no-repeat right center;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
	}

/*-----  .SELECTED class > YEDI_THEME icinde  --------*/

/* INTERACTION CONTAINER
---------------------------------------*/
#inter_container {
	width:857px;
	height:726px;
	left:400px;
	top:20px;
	position:relative;
	
	display:table;
	
	border:1px #FFF solid;
	background-color:#FFF;

	border-radius:9px;
	-webkit-border-radius:9px;
	-moz-border-radius:9px;

	-moz-box-shadow:	3px 3px 8px rgba(0,0,0,0.6);
	-webkit-box-shadow: 3px 3px 8px rgba(0,0,0,0.6);
	box-shadow:			3px 3px 8px rgba(0,0,0,0.6);
}

div.tanim {
/*	background-color:#FFC;*/
	font-size:18px;
	color:#000;
	line-height:22px;
	
	width:787px;
	height:150px;
	top:28px;
	left:31px;
	float:left;
	position:absolute;
	
	}
	div.tanim strong{
		color:#d42b19;
		text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
		margin-right:8px;
	}
	
	div.tanim em{
		color:#4c4c4c;
		font-size:16px;
		display:block;
		padding-left:10px;
		padding-top:5px;
	}
	
	div.simgebg {
		float:right;
		width:79px;
		height:143px;
		position:relative;
		left:0px;
		bottom:48px;
	}
	div.simge {
		width:98px;
		height:104px;
		
		position:absolute;
		}

div.ornek {
	font-size:14px;
	width:757px;
	height:170px;
	left:31px;
	top:180px;

	float:left;
	position:absolute;
	
	background-color:#FFF;

	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	
	padding:15px;
	z-index:0;
	
}
	div.ornekbaslik{
		width:69px;
		height:34px;
		position:absolute;
		left: 50%;
		top: -16px;
		margin-left:-35px;
	
	}
div.mavikontrol {
	font-size:16px;
	color:#000;
	line-height:20px;	

	width:159px;
	height:276px;
	left:31px;
	top:395px;
	position:absolute;
	
	padding:12px;
	
	background-color:#bfe8ef;
	
	border:1px solid #8fced8;

	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	
	overflow:auto;
	float:left;
}

div.etkilesimalan {
	font-size:14px;
	width:590px;
	height:300px;
	
	left:229px;
	top:395px;
	position:absolute;
	
	background-color:#FFF;
	
	border:1px solid #eff0ee;

	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	
	overflow:hidden;
	float:right;
	
	z-index: 0;
}


